*{
  margin:0;
  padding: 0;
}
html, body {
      position: relative;
      height: 100%;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height:100%;
      margin-left: auto;
      margin-right: auto;
      background-size:100%;
    }
    .swiper-slide {
    	background-size: contain;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
     /* -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;*/
      background-repeat: no-repeat;
    background-size: cover;
    }
    .swiper-slide img{
      height: 100%;
      width: 100%;
      object-position: center;object-fit: cover;
    }
    .swiper-slide a{
      color:white;
      background-color: black;
      padding:8px 10px;
      border-radius:5px;
       cursor: pointer;
    }
    .swiper-slide a:hover{
      color:black;
      background-color: white;
      border:1px solid black;
      border-radius: 5px;
    }
    .background-image{
      position: absolute;
      height:100vh;
    }
    .container-content{
  position: relative;
  display: flex;
  flex-direction: column;
    transform: translateY(70vh);
    padding: 0px 0px 0px 50px;
    height: max-content;
    margin: 0px auto 0px 100px;
}
.fashion-tag{
  background-color:rgb(255,0,255);
  display: inline-block;
  padding:5px 10px;
  border-radius: 2px;
  color:white;
  font-weight: 400;
  font-family: sans-serif;
  font-size: 15px;
}
.container-content p{
  font-family: sans-serif;
  color:white;
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
}
.info{
  display: flex;
  margin-top:20px;
  color:white;
  justify-content: space-between;
    width:400px;
    font-size: 18px;
}
.info span{
  display: inline-block;
}

.fa-user{
 margin-right: 10px;
}
.fa-clock{
  margin-right: 10px;
}
.fa-fire-alt{
  margin-right: 10px;
  color:orange;
}
.container-text{
  position: relative;
  padding: 50px 100px;
  font-family: sans-serif;
}
.ptext{
  font-size: 16px;
}
.container-text p{
   line-height: 25px;
}

@media screen and (max-width: 768px){
    .container-content{
    margin: 0px auto 0px 0px;
   }
    .container-content p{
  font-size: 25px;
  margin-top: 20px;
   }
   .container-text{
  position: relative;
  padding: 50px 50px;
  font-family: sans-serif;
}

}
@media screen and (max-width: 480px){
  .container-content{
    transform: translateY(55vh);
  }
  .container-content p{
    font-size: 17px;
  }
 
 .info{
  display:flex;
  flex-direction:column;
  width:100%;
 }
 
 .info span{
  margin-top:10px;
  {

 }
 .container-text{
  padding: 30px 15px;
  }
 .fa-user{
 margin-right: 10px;
}
.fa-clock{
  margin-right: 10px;
}
.fa-fire-alt{
  margin-right: 10px;
}
 
}